@font-face{
    font-family: "Nanum Font";
    src : url("./NanumSquareR.otf");
}
body{
    background-color: #F2F2F2;
}

.wrapper{
    display:grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: 150px; */
    grid-auto-rows : minmax(400px, auto);
    row-gap: 30px;
}
.search{
    display: inline-block;
    vertical-align: middle;
}
.item{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    vertical-align: middle;
}

.total-container{
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 100px;
    margin-right: 100px;
    font-family: "Nanum Font";
}
.header {
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom : 1px solid gray;
}
.title {
    text-align: center;
    font-weight: bold;
}

#input-container{
    margin-bottom: 20px;
}
#input-title{
    font-size: 17px;
    margin-right: 30px;
}
#input-dropdown{
    width: 60%;
    margin-right: 15px;
}
#code-input{
    width: 100%;
}


#submit_button{
    font-size: 13px;
    background-color: white;
}

#download-button{
    width: 100%;
    margin-bottom:10px;
}
#datatable-statistics{
    margin-bottom : 20px;
}
#data_len{
    float:right;
}

#graph{
    margin-bottom: 40px;
}

input[type="text"]{
    padding: 0px 0px 0px 0px;
    min-width: 30px;
}